.login_div {
    padding-top: 48px;
    width: 80vw;
    margin:auto;
}

.logout_btn > button > a{
    text-decoration: none;
    font-size: 16px;
    color: red;
}

.product_form {
    margin: 48px;
    
}

.product_form > form > label {
    padding-top: 32px;
}

label {
    font-weight: bolder;
    font-size: 16px;

}

form > button {
    margin-top: 32px;
    border-radius: 25px;
}
