{% extends "website/layout.html" %}

{% block title %}New Bill{% endblock %}

{% block main %}New Bill
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
</script>

<div id="reader"></div>

<script>
    const scanner = new Html5QrcodeScanner('reader', {
        qrbox: {
            width: 320,
            height: 320,
        },
        fps: 20,
    });

    scanner.render(success, error);

    function success(result) {
        console.log(result);
    }

    function error(result) {
        console.error(err);
    }
</script>


{% endblock %}